@model IEnumerable<Feit .Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Enrollments</h1>

<form asp-controller="Courses" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Add new enrollment</button>
</form>
<h1> </h1>
<table class="table">
    <thead>
        <tr>
            <th>Course </th>
            <th>Student</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Grade</th>
            <th>FInish Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
