@model Feit.Models.Teacher

@{ ViewData["Title"] = "Courses"; }

<h1>Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Credits
            </th>
            <th>
                Title
            </th>
            <th>
                Programme
            </th>
            <th>
                Semester
            </th>
            <th>
                EducationLevel
            </th>
            <th>
                First Teacher
            </th>
            <th>
                Second Teacher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses1)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
            <td>
                @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
            </td>
            <td>
                <a asp-action="Enrollments" asp-route-id="@Model.Id" asp-route-courseid="@item.Id" asp-route-year="2021">students</a>

            </td>
        </tr>}
        @foreach (var item in Model.Courses2)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EducationLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
        <td>
            @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
        </td>
        <td>
            <a asp-action="Enrollments" asp-route-id="@Model.Id" asp-route-courseid="@item.Id" asp-route-year="2021">students</a>
        </td>
    </tr>}
    </tbody>
</table>

<a asp-action="Index">Back to List</a>