@model Feit.ViewModels.SearchYear

@{ ViewData["Title"] = "Courses"; }

<h1>Students</h1>
<hr />

<p><b>Course: </b>@ViewData["course"]</p>

<form asp-controller="Teachers" asp-action="Enrollments" method="get">
    <p>
        Choose year:&nbsp;&nbsp;&nbsp;
        <select asp-for="Year" asp-items="Model.Years">
            <option value="">All</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="hidden" asp-for="CourseId" value="@ViewData["id"]" />
        <input type="submit" value="Apply" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Course </th>
            <th>Student</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Grade</th>
            <th>Finish Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrollments)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Student.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Semester)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Grade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FinishDate)
    </td>
    <td>
        <a asp-action="EnrollDetails" asp-route-id="@item.Id" asp-route-tid="@ViewData["tid"]" asp-route-sid="@item.StudentId" asp-route-cid="@item.CourseId" asp-route-year="@item.Year">details</a>
    </td>
</tr>}
    </tbody>
</table>

<a asp-action="Courses" asp-route-id="@ViewData["tid"]">Back to List</a>