@model Feit.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<form asp-controller="Courses" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Add new course</button>
</form>
<h1> </h1>
<p>
    <a  asp-action="Enroll">Enroll new student</a>
</p>
<form asp-controller="Courses" asp-action="Index" method="get">
    <p>
        Title: <input type="text" asp-for="SearchTitle" /> <input type="submit" value="Apply" class="btn-primary"  />
        Semester: <input type="text" asp-for="SearchSemester" /> <input type="submit" value="Apply" class="btn-primary" />
        Programme: <input type="text" asp-for="SearchProgramme" /> <input type="submit" value="Apply" class="btn-primary"  />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Credits
            </th>
            <th>
                Title
            </th>
            <th>
                Programme
            </th>
            <th>
                Semester
            </th>
            <th>
                EducationLevel
            </th>
            <th>
                First Teacher
            </th>
            <th>
                Second Teacher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
                <td>
                    @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">List of students</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
